/* General Styles */
html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #f106de;*/
    background-image: url('/static/images/background.avif');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.progress { width: 80%; height: 10px; background: #eee; border-radius: 5px; margin: 20px auto; }
.progress-bar { height: 10px; width: 0%; background: #3aafa9; transition: width 0.5s; }
.download-link { justify-content: center; font-size: 15px;}

h1 {
    text-align: center;
    color: #333;
}

.container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    height: 600px;
    width: 100%;
    overflow: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    cursor: pointer;
}

input[type="file"]:hover {
    border-color: #aaa;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload-button {
    background-color: #007bff;
    color: white;
}

#upload-button:hover {
    background-color: #0056b3;
}

#generate-button {
    background-color: #28a745;
    color: white;
    width: 100%; /* Make the button take the full row */
}

#generate-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#generate-button:hover:not(:disabled) {
    background-color: #218838;
}

.note {
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-top: 10px;
}